In [1]:
import pandas as pd
import numpy as np

In [2]:
#import lib
import pandas as pd
import numpy as np

In [3]:
#data loading and manipulation
strokedata = pd.read_csv("healthcare-dataset-stroke-data.csv")
strokedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [4]:
strokedata['bmi'].fillna(strokedata['bmi'].mean(), inplace=True)
strokedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [5]:
strokedata

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [6]:
strokedata['gender'].value_counts()

gender
Female    2994
Male      2115
Other        1
Name: count, dtype: int64

In [7]:
convert = {"gender":{"Female":0, "Male":1, "Other":2}}
strokedata = strokedata.replace(convert)

In [8]:
strokedata

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,0,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,1,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,0,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,0,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,0,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,1,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,0,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [9]:
Strokedata['ever_married'].value_counts()

NameError: name 'Strokedata' is not defined

In [10]:
strokedata['ever_married'].value_counts()

ever_married
Yes    3353
No     1757
Name: count, dtype: int64

In [11]:
convert = {"ever_married":{"Yes":1, "No":0}}
strokedata = strokedata.replace(convert)

In [12]:
strokedata

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,0,61.0,0,0,1,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,1,80.0,0,1,1,Private,Rural,105.92,32.500000,never smoked,1
3,60182,0,49.0,0,0,1,Private,Urban,171.23,34.400000,smokes,1
4,1665,0,79.0,1,0,1,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,Private,Urban,83.75,28.893237,never smoked,0
5106,44873,0,81.0,0,0,1,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,19723,0,35.0,0,0,1,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,37544,1,51.0,0,0,1,Private,Rural,166.29,25.600000,formerly smoked,0
5109,44679,0,44.0,0,0,1,Govt_job,Urban,85.28,26.200000,Unknown,0

In [13]:
strokedata['work_type'].value_counts()

work_type
Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64

In [14]:
convert = {"work_type": {"Private":0, "Self-employed": 1, "children": 2, "Govt_job": 3, "Never_worked": 4}}
strokedata = strokedata.replace(convert)

In [15]:
strokedata

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,0,Urban,228.69,36.600000,formerly smoked,1
1,51676,0,61.0,0,0,1,1,Rural,202.21,28.893237,never smoked,1
2,31112,1,80.0,0,1,1,0,Rural,105.92,32.500000,never smoked,1
3,60182,0,49.0,0,0,1,0,Urban,171.23,34.400000,smokes,1
4,1665,0,79.0,1,0,1,1,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,0,Urban,83.75,28.893237,never smoked,0
5106,44873,0,81.0,0,0,1,1,Urban,125.20,40.000000,never smoked,0
5107,19723,0,35.0,0,0,1,1,Rural,82.99,30.600000,never smoked,0
5108,37544,1,51.0,0,0,1,0,Rural,166.29,25.600000,formerly smoked,0
5109,44679,0,44.0,0,0,1,3,Urban,85.28,26.200000,Unknown,0

In [16]:
strokedata['Residence_type'].value_counts()

Residence_type
Urban    2596
Rural    2514
Name: count, dtype: int64

In [17]:
convert = {"Residence_type": {"Urban":0, "Rural":1}}
strokedata = strokedata.replace(convert)

In [18]:
strokedata

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,0,0,228.69,36.600000,formerly smoked,1
1,51676,0,61.0,0,0,1,1,1,202.21,28.893237,never smoked,1
2,31112,1,80.0,0,1,1,0,1,105.92,32.500000,never smoked,1
3,60182,0,49.0,0,0,1,0,0,171.23,34.400000,smokes,1
4,1665,0,79.0,1,0,1,1,1,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,0,0,83.75,28.893237,never smoked,0
5106,44873,0,81.0,0,0,1,1,0,125.20,40.000000,never smoked,0
5107,19723,0,35.0,0,0,1,1,1,82.99,30.600000,never smoked,0
5108,37544,1,51.0,0,0,1,0,1,166.29,25.600000,formerly smoked,0
5109,44679,0,44.0,0,0,1,3,0,85.28,26.200000,Unknown,0

In [19]:
strokedata['smoking_status'].value_counts()

smoking_status
never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: count, dtype: int64

In [20]:
convert = {"smoking_status": {"never smoked":0, "Unknown":1, "formerly smoked": 2, "smokes": 3}}
strokedata = strokedata.replace(convert)

In [21]:
strokedata

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,0,0,228.69,36.600000,2,1
1,51676,0,61.0,0,0,1,1,1,202.21,28.893237,0,1
2,31112,1,80.0,0,1,1,0,1,105.92,32.500000,0,1
3,60182,0,49.0,0,0,1,0,0,171.23,34.400000,3,1
4,1665,0,79.0,1,0,1,1,1,174.12,24.000000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0,80.0,1,0,1,0,0,83.75,28.893237,0,0
5106,44873,0,81.0,0,0,1,1,0,125.20,40.000000,0,0
5107,19723,0,35.0,0,0,1,1,1,82.99,30.600000,0,0
5108,37544,1,51.0,0,0,1,0,1,166.29,25.600000,2,0
5109,44679,0,44.0,0,0,1,3,0,85.28,26.200000,1,0

In [22]:
#split data into train and test set
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(strokedata, test_size = 0.30, random_state = 42)

In [23]:
train_data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3897,24257,1,4.00,0,0,0,2,1,90.42,16.2,1,0
576,56179,1,29.00,0,0,0,0,0,207.58,22.8,3,0
4013,36388,1,44.00,1,0,1,0,1,91.28,26.5,0,0
4536,59405,0,68.00,1,0,1,0,0,150.74,40.3,1,0
1180,46643,0,62.00,0,0,1,0,1,82.57,36.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4426,13846,1,43.00,0,0,1,3,1,88.00,30.6,0,0
466,1307,0,61.00,1,0,1,0,1,170.05,60.2,3,0
3092,31481,0,1.16,0,0,0,2,0,97.28,17.8,1,0
3772,61827,1,80.00,0,0,1,1,1,196.08,31.0,2,0
860,28933,0,46.00,0,0,1,0,1,100.15,50.3,3,0

In [24]:
#import lib of statesmodel for logistic regression based binary classification 
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.api as smf
from statsmodels.formula.api import logit

In [25]:
formula = 'stroke ~ id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status'

In [26]:
model = logit(formula = formula, data = train_data).fit()

PatsyError: Number of rows mismatch between data argument and id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status (3577 versus 11)
    stroke ~ id, gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In [27]:
formula = 'stroke ~ gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status'

In [28]:
model = logit(formula = formula, data = train_data).fit()

PatsyError: Number of rows mismatch between data argument and gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status (3577 versus 10)
    stroke ~ gender, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In [29]:
print(train_data["gender"].shape)

(3577,)

In [30]:
#define the formula to perform classification based on input features
formula = 'stroke ~ id + gender + age + hypertension + heart_disease + ever_married + work_type + Residence_type + avg_glucose_level + bmi + smoking_status'

In [31]:
#define the logistic regression model
model = logit(formula = formula, data = train_data).fit()

Optimization terminated successfully.
         Current function value: 0.146410
         Iterations 9

In [32]:
#summary of the model
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 stroke   No. Observations:                 3577
Model:                          Logit   Df Residuals:                     3565
Method:                           MLE   Df Model:                           11
Date:                Fri, 21 Apr 2023   Pseudo R-squ.:                  0.1986
Time:                        14:26:29   Log-Likelihood:                -523.71
converged:                       True   LL-Null:                       -653.50
Covariance Type:            nonrobust   LLR p-value:                 2.736e-49
=====================================================================================
                        coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            -7.2980      0.656    -11.127      0.000      -8.584      -6.013
id                 1.272e-06      4e-06      0.318      0.750   -6.57e-06    9.11e-06
gender               -0.0620      0.176     -0.351      0.725      -0.408       0.284
age                   0.0703      0.006     10.930      0.000       0.058       0.083
hypertension          0.3582      0.207      1.733      0.083      -0.047       0.763
heart_disease         0.3105      0.234      1.327      0.184      -0.148       0.769
ever_married         -0.4057      0.252     -1.611      0.107      -0.899       0.088
work_type            -0.0687      0.085     -0.809      0.418      -0.235       0.098
Residence_type       -0.1133      0.172     -0.657      0.511      -0.451       0.225
avg_glucose_level     0.0043      0.001      2.887      0.004       0.001       0.007
bmi                  -0.0019      0.014     -0.136      0.892      -0.029       0.025
smoking_status        0.0778      0.078      1.003      0.316      -0.074       0.230
=====================================================================================
"""

In [33]:
#display the model parameter
print(np.exp(model.params))

Intercept            0.000677
id                   1.000001
gender               0.939905
age                  1.072855
hypertension         1.430745
heart_disease        1.364130
ever_married         0.666490
work_type            0.933579
Residence_type       0.892865
avg_glucose_level    1.004331
bmi                  0.998136
smoking_status       1.080878
dtype: float64

In [34]:
#import classification metrics
from sklearn.metrics import classification_report, accuracy_score

In [35]:
#predict the logistic regression classifier model
prediction = model.predict(exog = test_data)

In [36]:
#convert the predicted value 
cutoff = 0.7 
y_prediction = np.where(prediction > cutoff, 1, 0)

In [37]:
#original lable
y_actual = test_data["stroke"]

In [38]:
accuracy = accuracy_score(y_actual, y_prediction)

In [39]:
print('Accuracy: %.2f' % accuracy + "%")

Accuracy: 0.94%